:host{
    .app-character-card{
        margin:0;
        float:unset;
        clear:unset;

        @media (min-width: 400px) {
            transform: scale(0.93);
        }
        @media (min-width: 576px) {
            
        }
        @media (min-width: 768px) {
            
        }
    }
}