<mat-card class="mat-card" [ngStyle]="{'animation-delay': getRandomDelay() + 'ms'}">
  <img mat-card-image [src]="character.image" alt="{{ character.name }}">
  <mat-card-header>
    <mat-card-title class="mat-text mat-card-title">{{ character.name }}</mat-card-title>
    <mat-card-subtitle class="mat-text mat-card-subtitle">{{ character.species }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions [ngClass]="{ 'favorited': isFavorite, 'mat-card-actions':true, 'animate': launchAnimation }">
    <button *ngIf="!isFavorite; else removeButton" (click)="addToFavorites()" title="adicionar aos favoritos">
      <mat-icon aria-hidden="false" aria-label="add favorite icon" fontIcon="favorite_border">favorite_border</mat-icon>
    </button>
    <ng-template #removeButton>
      <button (click)="removeFromFavorites()" title="remover dos favoritos">
        <mat-icon aria-hidden="false" aria-label="remove favorite icon" fontIcon="favorite">favorite</mat-icon>
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
