<mat-toolbar color="primary">
  <span>
    <img src="assets/logo01.png" alt="Rick and Morty Challenge"/>
  </span>
  <div class="menubutton">
    <button 
      mat-button 
      routerLink="/home" 
      [ngClass]="{ 'active': isActive('/home'), 'animate': launchAnimation }" 
      [disabled]="isActive('/home')"
      (click)="toggleLaunchAnimation()">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home">home</mat-icon>
      <span class="label">Início</span>
    </button>
    <button 
      mat-button 
      routerLink="/favorites" 
      [ngClass]="{ 'active': isActive('/favorites'), 'animate': launchAnimation }" 
      [disabled]="isActive('/favorites')"
      (click)="toggleLaunchAnimation()">
      <mat-icon aria-hidden="false" aria-label="favorite icon" fontIcon="favorite">favorite</mat-icon>
      <span class="label">Favoritos</span>
      <span *ngIf="(counter$ | async) !== null" class="counter">{{ counter$ | async }}</span>
    </button>
  </div>
</mat-toolbar>
