<app-menu-bar></app-menu-bar>
<div class="container">
  <h1>INÍCIO</h1>
  <app-search-box (search)="onSearch($event)"></app-search-box>
  <div *ngIf="searchResults$ | async as characters; else initialMsg">
    <ng-container *ngIf="characters.length > 0; else emptyMsg">
      <app-character-card *ngFor="let character of characters" [character]="character"></app-character-card>
    </ng-container>
  </div>
  <ng-template #initialMsg>
    <div class="msg-srch-initial">
      <p>Pesquise por um personagem para começar.</p>
    </div>
  </ng-template>
  <ng-template #emptyMsg>
    <div class="msg-srch-empty">
      <p>Nenhum personagem encontrado.</p>
    </div>
  </ng-template>
</div>
