@import '../../../../styles/rickyandmorty-variables.scss';

    div.form-field{
        width: 27.333vw;
        height: 4.083vw;
        background-color: transparent;
        border: solid 1px #5D5D5D;
        border-radius: 1vw;
        position:relative;

        label{
            position:absolute;
            top:-0.7vw;
            left:1.2vw;
            width:6vw;
            height:1.417vw;
            @include font-poppins(1vw, 500, 1.417vw);
            text-align: center;
            color: #A4A4A4;
            background-color: $color-primary-medium;
        }

        input{
            display: block;
            width: 25.45vw;
            height: 4.083vw;
            border: none;
            background: none;
            outline: none;
            box-shadow: none;
            padding: 0;
            margin: 0 0 0 1.8vw;
            @include font-poppins(1.333vw, 500, 4.083vw);
            color: $color-secondary-medium;
        }
    }

    